<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
    <bean id="reallyBlankDisc" class="com.zeus.spring.soundsystem.BlankDisc">
        <property name="title" value="Sgt. Pepper's Lonely Hearts Club Band" />
        <property name="artist" value="The Beatles" />
        <property name="tracks">
            <list>
                <value>Sgt. Pepper's Lonely Hearts Club Band 1</value>
                <value>Sgt. Pepper's Lonely Hearts Club Band 2</value>
                <value>Sgt. Pepper's Lonely Hearts Club Band 3</value>
                <value>Sgt. Pepper's Lonely Hearts Club Band 4</value>
                <value>Sgt. Pepper's Lonely Hearts Club Band 5</value>
            </list>
        </property>
    </bean>
    -->

    <!--配置属性文件占位符
    <context:property-placeholder location="classpath*:config.properties"/>
    -->
</beans>